* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


/* ----------Font---------- */

@font-face {
  font-family: "DMSans-Regular";
  src: url("../fonts/DM_Sans/DMSans-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "DMSans-Bold";
  src: url("../fonts/DM_Sans/DMSans-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "DMSerifDisplay-Regular";
  src: url("../fonts/DM_Serif_Display/DMSerifDisplay-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}





/* --------------globle-color------------ */

:root {
  --secondary-color: #1E1D23;
  --color: #fff;
  /* --primary-color: #FF5E14; */
  --primary-color: #bdd3e8;
  --black: #000000;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "DMSerifDisplay-Regular";
}

p {
  font-family: "DMSans-Regular";

}

a {
  text-decoration: none;
}

.center {
  text-align: center;
}

body {
  background-color: var(--color);
}

.orange-bg {
  background-color: var(--primary-color);
}

.dark-bg {
  background-color: var(--secondary-color);
}

.dark {
  color: var(--secondary-color);
}

.black {
  color: var(--secondary-color);
}

.white {
  color: var(--color);
}

.orange {
  color: var(--primary-color);
}


.ml-auto {
  margin-left: auto;
}

.orangebtn {
  color: var(--black);
  background-color: var(--primary-color);
  border-radius: 0px;
  padding: 12px 20px;
  font-size: 14px;
  text-transform: uppercase;
}

.orangebtn:hover {
  color: var(--color);
  background-color: var(--secondary-color);
}

.darkbtn {
  color: var(--color);
  background-color: var(--secondary-color);
  border-radius: 0px;
  padding: 12px 20px;
  font-size: 14px;
  text-transform: uppercase;
}

.darkbtn:hover {
  color: var(--black);
  background-color: var(--color);
}

.darkbtn2 {
  color: var(--color);
  background-color: var(--secondary-color);
  border-radius: 0px;
  padding: 12px 20px;
  font-size: 14px;
  text-transform: uppercase;
}

.darkbtn2:hover {
  color: var(--color);
  background-color: var(--primary-color);
}

.fa-angle-right {
  padding-left: 4px;

}

.fa-angle-right:hover {
  color: var(--primary-color);
}

.fa-angle-left:hover {
  color: var(--primary-color);
}






/* ------------Top button--------------- */
#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: var(--primary-color);
  color: var(--black);
  cursor: pointer;
  padding: 12px;
}

#myBtn:hover {
  background-color: var(--secondary-color);
}



/* --------loader-------- */
#wraper {
  z-index: 99999999;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  opacity: 0.9;
  /* overflow: hidden; */
  background-color: var(--black);
}

#loader {
  margin: 0 auto;
  text-align: center;
  font-size: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateY(-50%) translateX(-50%);
  animation: rotate 1s infinite;
  height: 50px;
  width: 50px;
}

#loader:before,
#loader:after {
  border-radius: 50%;
  content: "";
  display: block;
  height: 20px;
  width: 20px;
}

#loader:before {
  animation: ball1 1s infinite;
  background-color: #cb2025;
  box-shadow: 30px 0 0 #f8b334;
  margin-bottom: 10px;
}

#loader:after {
  animation: ball2 1s infinite;
  background-color: #00a096;
  box-shadow: 30px 0 0 #97bf0d;
}

@keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg) scale(0.8);
    -moz-transform: rotate(0deg) scale(0.8);
  }

  50% {
    -webkit-transform: rotate(360deg) scale(1.2);
    -moz-transform: rotate(360deg) scale(1.2);
  }

  100% {
    -webkit-transform: rotate(720deg) scale(0.8);
    -moz-transform: rotate(720deg) scale(0.8);
  }
}

@keyframes ball1 {
  0% {
    box-shadow: 30px 0 0 #f8b334;
  }

  50% {
    box-shadow: 0 0 0 #f8b334;
    margin-bottom: 0;
    -webkit-transform: translate(15px, 15px);
    -moz-transform: translate(15px, 15px);
  }

  100% {
    box-shadow: 30px 0 0 #f8b334;
    margin-bottom: 10px;
  }
}

@keyframes ball2 {
  0% {
    box-shadow: 30px 0 0 #97bf0d;
  }

  50% {
    box-shadow: 0 0 0 #97bf0d;
    margin-top: -20px;
    -webkit-transform: translate(15px, 15px);
    -moz-transform: translate(15px, 15px);
  }

  100% {
    box-shadow: 30px 0 0 #97bf0d;
    margin-top: 0;
  }
}





/* --------os-header--------- */
#os-header .nav-item {
  margin: 0px 8px;
}

#os-header .nav-item .nav-link {
  font-size: 18px;
  font-family: "DMSans-Regular";
}

#os-header .nav-item .nav-link:hover {
  font-family: "DMSans-Bold";
  color: var(--primary-color);
}

#os-header .dropdown-item.active,
.dropdown-item:active {
  background-color: var(--primary-color);
}


/* --------os-header2--------- */
#os-header2 .nav-item {
  margin: 0px 8px;
}

#os-header2 .nav-item .nav-link {
  font-size: 18px;
  font-family: "DMSans-Regular";
}

#os-header2 .nav-item .nav-link:hover {
  font-family: "DMSans-Bold";
  color: var(--primary-color) !important;
}

#os-header2 .nav-item .nav-link:active {
  font-family: "DMSans-Bold";
  color: var(--primary-color) !important;
}

#os-header2 .dropdown-item.active,
.dropdown-item:active {
  background-color: var(--primary-color);
}

#os-header2 {
  background-color: var(--secondary-color);
}


/* --------os-header3--------- */
#os-header3 .nav-item {
  margin: 0px 8px;
}

#os-header3 .nav-item .nav-link {
  font-size: 18px;
  font-family: "DMSans-Regular";
}

#os-header3 .nav-item .nav-link:hover {
  font-family: "DMSans-Bold";
  color: var(--primary-color) !important;
}

#os-header3 .nav-item .nav-link:active {
  font-family: "DMSans-Bold";
  color: var(--primary-color) !important;
}

#os-header3 .dropdown-item.active,
.dropdown-item:active {
  background-color: var(--primary-color);
}

/* #os-header3 {
  
 position: absolute;
height: 100%;
background: rgba(0, 0, 0, .5);
width: 100%;
} */
video {
  position: absolute;
  z-index: 0;
  width: 100%;

}

/* #os-header3 .overlay{
  background-color: var(--secondary-color);
  position: absolute;
} */


/* ----------os-shortbanner----------- */
#os-shortbanner h3 {
  padding: 70px 0px 70px 0px;
}

#os-shortbanner .os-bg {
  background: url(../img/Group\ 1630.png) no-repeat;
  background-size: cover;
  color: var(--color);
}





/* -----------os-mainbanner------------- */
#os-mainbanner {
  background: url(../img/banner.png) no-repeat;
  background-position: center;
  background-size: cover;
  padding: 155px 0px 100px 0px;
}

#os-mainbanner .lets {
  background-color: var(--primary-color);
  color: var(--black);
  padding: 20px 200px 20px 15px;
  position: absolute;
  right: 0;
  /* bottom: 0; */
  top: 30%;
}

@media (max-width: 1024px) {}

@media (max-width: 768px) {}

@media (max-width: 425px) {
  #os-mainbanner {
    padding: 50px 0px;
  }

  #os-mainbanner .lets {
    margin-top: 12px;
    position: relative;
    padding: 20px 100px 20px 15px;

  }
}

@media (max-width: 320px) {
  #os-mainbanner .lets {
    padding: 20px 50px 20px 15px;
  }
}


/* -----------os-mainbanner2------------- */
#os-mainbanner2 {
  padding: 20px 0px;
}

#os-mainbanner2 .carousel-item1 {
  background: url(../img/Group\ 1621.png) no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  padding: 50px 0px;

}

#os-mainbanner2 .carousel-item2 {
  background: url(../img/Group\ 1621.png) no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  padding: 50px 0px;
}

#os-mainbanner2 .carousel-item3 {
  background: url(../img/Group\ 1621.png) no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  padding: 50px 0px;
}

#os-mainbanner2 .slide-bg {
  padding: 100px 200px;
}

#os-mainbanner2 .carousel-control-prev-icon {
  height: 20px !important;
  background-color: var(--primary-color);
}

#os-mainbanner2 .carousel-control-next-icon {
  height: 20px !important;
  background-color: var(--primary-color);
}

#os-mainbanner2 .carousel-control-next,
#os-mainbanner2 .carousel-control-prev {
  opacity: 5;
  width: 5%;
}

@media (max-width: 1024px) {}

@media (max-width: 768px) {}

@media (max-width: 425px) {}

@media (max-width: 320px) {}


/* ------#os-mainbanner3------- */
#os-mainbanner3 {
  z-index: 1;
  padding: 90px 0px !important;
  position: relative;
}

#os-mainbanner3 p {
  padding: 0px 300px;
}






/* -----os-About-us------- */
#os-about-us {
  padding: 0px 0px;
  /* z-index: 1; */
  /* margin-bottom: -50px; */
}

#os-about-us .video-bg {
  position: relative;
  top: -250px;
}

#os-about-us .portfolio-box {
  position: relative;
}

#os-about-us .portfolio-box .img-hover {
  display: block;
}


#os-about-us .portfolio-box-caption {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: opacity 0.75s ease;
  background: var(--primary-color);
}

#os-about-us .portfolio-box:hover .portfolio-box-caption {
  opacity: 0.9;
  width: 100%;
}

.portfolio-box-caption .text-img {
  color: white;
  font-size: 20px;
  border-radius: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}


/* ------------os-counter------------ */
#os-counter .os-counter-bg {
  background: url(../img/counter\ bg.png) no-repeat;
  background-size: cover;
  background-position: center center;
  padding: 50px 0px;
}

#os-counter p,
#os-counter span {
  font-size: 25px;
}



/* ----------os-what-we-offer------------ */
#os-What-We-Offer {
  padding: 50px 0px 50px 0px;
}

#os-What-We-Offer .card img {
  height: 60px;
  width: 60px;

}





/* -----------os-who------------- */
#os-who {
  margin: 50px 0px;
  padding: 20px 0px;
  background: url(../img/About\ bg.png) no-repeat;
  background-position: left;
}

#os-who ul {
  list-style: none;
  padding-left: 0 !important;
}

#os-who ul li {
  line-height: 2;
  font-family: "DMSans-Regular";

}

#os-who ul li::before {
  content: url(../img/Arrow.png);
  background-size: contain;
  display: inline-block;
  width: 1em;
  height: 1em;
  position: relative;
  top: -3px;
  margin-right: 0.2rem;
  padding-right: 30px;
}






/* -----os-what-we-offer------ */
#os-what-we-offer {
  background: url(../img/Background.png) no-repeat;
  background-size: center;

}

.os-what-we-bg {
  background: url(../img/Mask\ Group\ 4.png) no-repeat;
  background-position: right;
  background-size: contain;
  padding: 50px 0px;


}

#os-what-we-offer .btn-wrap {
  display: inline;
}

#os-what-we-offer .slider1 {
  display: inline;
}

#os-what-we-offer .slider1 .slick-prev {
  left: 1122px !important;
  top: 60% !important;

}

#os-what-we-offer .slider1 .slick-next {
  top: 40% !important;
}

#os-what-we-offer .slick-prev:before,
#os-what-we-offer .slick-next:before {
  font-size: 30px;
  color: var(--secondary-color);
}






/* ----------os-recent-project----------- */

#os-recent-project {
  padding: 50px 0px;
}

#os-recent-project .main-overlay {
  position: relative;
  /* width: 50%; */
}

#os-recent-project .image {
  display: block;
  width: 100%;
  height: auto;
}

#os-recent-project .overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: var(--secondary-color);
}

#os-recent-project .main-overlay:hover .overlay {
  opacity: 0.7;
}

#os-recent-project .text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}


/* ------os-our-project------- */
#os-our-project {
  position: relative;
  /* bottom: -250px; */
  z-index: 1;
  padding: 0px 0px;
}





/* -----------os-home2-bg------------ */
#os-home2-bg img {
  position: relative;
  top: -253px;
}

#os-home2-bg .os-bg {
  margin-bottom: -255px;
}


/* -------os-clients-talk--------- */

#os-clients-talk {
  padding: 50px 0px;
  /* position: relative;
      bottom: 570px; */

}

#os-clients-talk .text-center p {
  padding: 0px 240px;
}

#os-clients-talk .slider-bg {
  background: url(../img/Ornage.png) no-repeat;
  background-position: right;
  background-size: contain;
}




/* -------os-clients-talk2--------- */

#os-clients-talk2 {
  padding: 50px 0px;
  position: relative;
  bottom: 400px;
  margin-bottom: -400px;
}

#os-clients-talk2 .text-center p {
  padding: 0px 240px;
}

/* -------os-clients-talk3--------- */

#os-clients-talk3 {
  padding: 50px 50px;
  /* position: relative; */
  background: url(../img/background\ Projects\ +\ Client\ Task.png) no-repeat;
  background-size: cover;
  background-position: center center;
}

#os-clients-talk3 .text-center p {
  padding: 0px 240px;
}





/* ------------os-latest-news-------------- */

#os-latest-news .main-overlay {
  position: relative;
  /* width: 50%; */
}

#os-latest-news .image {
  display: block;
  width: 100%;
  height: auto;
}

#os-latest-news .overlay {
  /* position: absolute;   */
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  /* background-color: var(--color); */
}

#os-latest-news .main-overlay:hover .overlay {
  opacity: 0.7;
}

#os-latest-news .text {
  color: var(--color);
  font-size: 20px;
  position: absolute;
  /* top: 50%; */
  /* left: 50%; */
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}







/* ---------os-our-latest-news------------ */


#os-our-latest-news .main-overlay {
  position: relative;
  /* width: 50%; */
}

#os-our-latest-news .image {
  display: block;
  width: 100%;
  height: auto;
}

#os-our-latest-news .overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: var(--secondary-color);
}

#os-our-latest-news .main-overlay:hover .overlay {
  opacity: 0.7;
}

#os-our-latest-news .text {
  color: var(--color);
  font-size: 14px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;

}

/* ---------os-our-latest-news3------------ */

#os-our-latest-news3 .pad {
  padding-right: 10px;
  color: var(--black);
}




/* ---------os-what-we-offer------------ */


#os-What-We-Offer .main-overlay {
  position: relative;
  /* width: 50%; */
}

#os-What-We-Offer .image {
  display: block;
  width: 100%;
  height: auto;
}

#os-What-We-Offer .overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: var(--secondary-color);
}

#os-What-We-Offer .main-overlay:hover .overlay {
  opacity: 0.7;
}

#os-What-We-Offer .text {
  color: var(--color);
  font-size: 8px;
  position: absolute;
  bottom: 5%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;

}

#os-What-We-Offer .text h3 {
  font-size: 18px;

}

#os-What-We-Offer .text a {
  font-size: 14px;
}

/* -------os-meet-our-professional-------- */
#os-meet-our-professional .professional-name {
  background-color: var(--primary-color);
  padding: 8px;
  width: 60%;
  position: relative;
  bottom: 64px;
  color: var(--color);
}

/* -------os-our-project2------- */
#os-our-project2 .pad {
  padding-right: 10px;
  color: var(--black);
}

#os-our-project2 .os-bg {
  margin: 50px 0px 50px 0px;
  background: url(../img/Group\ 1607.png) no-repeat;
  background-position: right;
}

.cl {
  height: 200px;
  padding: 10px;
}

.slick-active {
  padding: 20px 0;
}

.slick-center {
  transform: scale(1.08);
}

.slick-slide:not(.slick-active) {
  margin: 20px 0;
}

.child {
  width: 100%;
}

.slide:not(.slick-active) {
  cursor: pointer;
}

.pagination {
  text-align: center;
  color: var(--color);
  font-family: cursive;
  font-size: 1.2rem;
}

#os-our-project2 .slick-prev:before,
#os-our-project2 .slick-next:before {
  color: var(--color);
  background-color: var(--secondary-color);
}

#os-our-project2 .slick-prev:before,
#os-our-project2 .slick-next:before {
  font-family: none;
  padding: 8px;
}

#os-our-project2 .slick-prev:before {
  content: '<';
  font-family: bold;
}

#os-our-project2 .slick-next:before {
  content: '>';
  font-family: bold;
}

#os-our-project2 .slick-prev:hover,
#os-our-project2 .slick-prev:focus,
#os-our-project2 .slick-next:hover,
#os-our-project2 .slick-next:focus {
  color: var(--primary-color);
}




/* -------os-our-project3------- */
#os-our-project3 .pad {
  padding-right: 10px;
  color: var(--black);
}

#os-our-project3 .os-bg {
  padding: 50px 0px 50px 0px;
  margin-bottom: 50px;
  background: url(../img/Group\ 1607.png) no-repeat;
  background-position: right;
}

#os-our-project3 .slick-prev:before,
#os-our-project3 .slick-next:before {
  color: var(--color);
  background-color: var(--secondary-color);
}

#os-our-project3 .slick-prev:before,
#os-our-project3 .slick-next:before {
  font-family: none;
  padding: 8px;
}

#os-our-project3 .slick-prev:before {
  content: '<';
  font-family: bold;
}

#os-our-project3 .slick-next:before {
  content: '>';
  font-family: bold;
}

#os-our-project3 .slick-prev:hover,
#os-our-project3 .slick-prev:focus,
#os-our-project3 .slick-next:hover,
#os-our-project3 .slick-next:focus {
  color: var(--primary-color);
}


/* -----os-contact----- */
#os-contact {
  background: url(../img/Customer\ Care.png) no-repeat;
  background-position: right;
}



/* ------os-subscribe------- */
#os-subscribe .card {
  background: url(../img/cta\ bg.png) no-repeat;
  background-size: cover;
}



/* -------os-get-free-quote----- */
#os-get-free-quote {
  background: url(../img/get\ free\ quote\ bg.png) no-repeat;
  background-size: cover;
  background-position: center center;
  /* position: relative;
  top: -400px; */
}






/* -----------os-footer-------- */
#os-footer {
  background-color: var(--secondary-color);
  color: var(--color);
}






/* -------Responsive-------- */

@media (max-width: 1024px) {}

@media (max-width: 768px) {
  .col-sm-6 {
    width: 50%;
  }

  .col-sm-none {
    display: none;
  }

  #os-mainbanner {
    padding: 131px 0px;
  }

  #os-clients-talk .text-center p {
    padding: 0px 110px;
  }

  #os-about-us .video-bg {
    top: -178px;
  }

  #os-clients-talk2 .text-center p {
    padding: 0px 50px;
  }

  #os-home2-bg .os-bg {
    margin-bottom: 0px;
  }

  #os-home2-bg img {
    position: relative;
    top: 0px;
  }

  #os-home2-bg .os-bg {
    margin-bottom: 0px;
  }

  #os-clients-talk2 {
    margin-bottom: -500px;
  }

  #os-What-We-Offer p {
    font-size: 14px;
  }

  #os-clients-talk2 .slider {
    font-size: 14px;
  }
}

@media (max-width: 425px) {
  .col-sm-6 {
    width: 50%;
  }

  .col-sm-none {
    display: none;
  }

  .col-sm-12 {
    width: 100%;
  }

  #os-who {
    background: none;
  }

  #os-mainbanner {
    padding: 101px 0px;
  }

  #os-clients-talk .text-center p {
    padding: 0;
    font-size: 14px;
  }

  #os-mainbanner2 .slide-bg {
    padding: 20px 50px;
  }

  #os-clients-talk2 .os-clients-talk-bg {
    position: relative;
    top: 158px;
  }

  #os-our-latest-news .os-bg {
    position: relative;
    top: 112px;
  }

  .os-our-latest-news {
    margin-bottom: 150px;
  }

  #os-get-free-quote {
    margin-top: 150px !important;
  }
}

@media (max-width: 320px) {
  .col-sm-6 {
    width: 50%;
  }

  .col-sm-none {
    display: none;
  }

  .col-sm-12 {
    width: 100%;
  }

  #os-clients-talk .text-center p {
    padding: 0;
    font-size: 14px;
  }

  #os-clients-talk .slider3 p {
    font-size: 14px;
  }

  #os-home2-bg {
    display: none;
  }

  #os-clients-talk2 h4 {
    color: #000;

  }

  #os-clients-talk2 p {
    color: #000;

  }

  #os-clients-talk2 .os-clients-talk-bg {
    top: 320px;
  }

  #os-our-latest-news .os-bg {
    top: 300px;
  }

  #os-get-free-quote {
    margin-top: 350px !important;
  }
}